
.navbar {
  background-color: rgb(66, 103, 178) !important;
}
.navbar.navbar-expand-lg {
}

.navbar.navbar-expand-lg.navbar-light {
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
}

.container-fluid {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  color: white;
}

.container-fluid.btn {
  background-color: white;
}

