  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div> Hello  <%= link_to "#{current_user.first_name}", user_path(current_user) %> </div>
      <div> Search Bar </div>
      <%= button_to "Logout", destroy_user_session_path, :method => :delete, data: { turbo: false }, class: "navbar-toggler"  %>
  </nav>

